@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');

// fonts
$font-primary: 'Averia Serif Libre', cursive;
$font-secondary: 'Roboto', sans-serif;

$color-back-1: #e5e0db;
$color-back-2: #ebebeb;
$color-back-3: #3d342e;
$color-black-1: #564b43;
$color-black-2: #000000;
$color-black-3: #3a3a3a;
$color-black-4: rgba(59, 59, 59, 0.2);
$color-black-5: rgba(20, 20, 20, 0.445);
$color-red-1: #ea0606;
$color-blue-1: #284caa;
$color-orange-1: #f26636;

$color-white: #fff;
$color-white-1: rgba(255, 255, 255, 0.6);